
@font-face {
    font-family: myFont;
    src: url(Montserrat-VariableFont_wght.ttf);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-image: url(images/ceci-li-7AFRqKtHDGE-unsplash.jpg);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
}
@media only screen and (max-width: 768px) {
  header {
    padding: 20px;
    background-image: url('images/ceci-li-7AFRqKtHDGE-unsplash.jpg');
  }
  
  .text {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  
  .image {
    flex-basis: 100%;
    max-width: 100%;
  }
}



.text {
  flex-basis: 60%;
  font-family: 'myFont';
  max-width: 60%;
  margin-bottom: 20px;
  text-align: center;
}

.text h1 {
  font-size: 36px;
  font-family: 'myFont';
  margin-bottom: 10px;
}

.text h2 {
  font-size: 24px;
  font-family: 'myFont';
  margin-bottom: 10px;
}

.text p {
  font-size: 18px;
  font-weight: bold;
  font-family: 'myFont';
  line-height: 1.5;
}

.image {
  flex-basis: 30%;
  max-width: 30%;
  margin: 0 auto;
}

.image img {
  width: 100%;
  border-radius: 50%;
  height: auto;
}


/* CSS for education */
.education {
  background-color: #eee;
  color: #333;
  padding: 50px;
}

.education h2 {
  font-size: 36px;
  font-family: 'myFont';
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
}

.education-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}

.education-item h3 {
  font-size: 24px;
  font-family: 'myFont';
  margin-bottom: 20px;
  font-weight: bold;
}

.education-item p {
  font-size: 18px;
  font-family: 'myFont';
  line-height: 1.5;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #335cad;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    padding: 20px;
    font-family: 'myFont';
    font-weight: lighter;
  }
  
  a {
    text-decoration: none;
    font-family: 'myFont';
    color: #000;
    font-weight: bold;
    font-size: 18px;
  }
  
  a:hover {
    color: rgb(12, 33, 58);
  }

.skills {
  background-color: #f7f7f7;
  color: #333;
  font-size: 20px;
  font-family: 'myFont';
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.skills h1 {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'myFont';
  color: #333;
}

.skill {
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 30px;
  margin: 20px;
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'myFont';
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skill:hover {
  background-color: #333;
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.contact {
  background-color: #f5f5f5;
  padding: 3rem 0;
}

.title {
  margin-bottom: 2rem;
  font-family: 'myFont';
  color: #2d2d2d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 0 auto;
}

.label {
  font-size: 1.2rem;
  font-family: 'myFont';
  font-weight: bold;
  margin-bottom: 1rem;
  color: #2d2d2d;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px #ccc;
}

.textarea {
  height: 10rem;
}

.button {
  background-color: #8fa68d;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #647562;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    padding: 1rem;
  }

  .input,
  .textarea {
    font-size: 0.9rem;
  }

  .button {
    font-size: 1rem;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
  font-size: 36px;
  font-family: 'myFont';
}


.footer-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}

.footer-icons img {
  width: 3rem;
  height: 3rem;
}

.footer-icons img:hover {
  transform:scale(1.5);
  color:#335cad;
}